* {
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

.dimension {
    border: 1px #555 solid;
}

.generator {
    border: 1px black solid;
    float: left;
}

.tab_dim {
  padding: 15px 25px;
  background-color: #eeeeee;
  float: left;
  color: #444;
}

.scrolllist {
    overflow: auto;
    max-height: 450px;
}