* {
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

.dimension {
    border: 1px red solid;
}

.generator {
    border: 1px black solid;
}